.admin-header {
  background-color: #000;
    width: 100%;
}

.admin-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 100%;
  margin: 0 auto;
}

.admin-header__logo {
  width: 370px;
  height: 36px;
}

.admin-header__logout-button {
  display: flex;
  align-items: center;
}

/* ナビゲーション（右側） */
.admin-header__nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

/* 各リンクとボタン */
/* 各リンクとボタン */
.admin-header__nav a,
.admin-header__logout-button {
  font-size: 24px;
  line-height: 1;
  padding: 4px 8px;
  vertical-align: middle;
  color: #fff;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}