body {
  background-color: #f2f2f4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.show {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px 20px;
  background-color: white;
  border-radius: 12px;
}

.show__title {
  font-size: 24px;
  font-weight: bold;
  margin: 40px auto 30px auto;
  max-width: 1200px;
  border-left: 5px solid #333;
  padding-left: 10px;
}

.show__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.show__table td {
  padding: 20px 20px 20px 0px;
  vertical-align: middle;
}

.show__table th,
.show__table td {
  text-align: left;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  font-size: 16px;
}

.show__table th {
  width: 25%;
  font-weight: bold;
  height: 60px;
  padding: 20px 40px 20px 20px;
}

.show__date-row {
  display: flex;
  align-items: center;
  gap: 150px;
}

.show__date-year,
.show__date-monthday {
  font-weight: bold;
  font-size: 18px;
}

.show__time-row {
  display: flex;
  align-items: center;
  gap: 40px;
}

.show__tilde {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.show__time-input {
  width: 100px;
  padding: 6px 8px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}

.show__note-wrapper {
  display: flex;
  width: 100%;
}

.show__note-input {
  width: 295px !important;
  height: 60px;
  padding: 6px 8px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  box-sizing: border-box;
}


/* 修正ボタン外側配置 */
.show__button-outside {
  max-width: 1200px;
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: flex-end;
}

/* 修正ボタンのデザイン */
.show__submit {
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show__submit:hover {
  background-color: #333;
}

.show__error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

/* 承認待ちメッセージ */
.show__note-warning-wrapper {
  width: 100%;
  margin: 20px auto 80px;
  text-align: right;
  max-width: 1200px;
  padding: 0 20px;
}

.show__note-warning {
  color: #cc0000;
  font-size: 18px;
  margin: 0;
}